@import "tailwindcss";

:root {
  --background: #1c1c1c;
  --foreground: #f4f4f4;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1c1c1c;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
.font-display {
  font-family: var(--font-display), serif;
}
